.footercontent ul li {
    list-style: none;
    text-align: left;
    padding: 5px;
}

    .footercontent ul li a {
        font-size: 1.56vw;
        font-family: 'DIN_Pro_Condensed_Regular';
        color: #ed6924;
        list-style: none;
        text-transform: uppercase;
        text-align: left;
        font-weight: bold;
        letter-spacing: 2px;
    }

.footercontent a:hover {
    color: #584949;
}

.contact-menu input {
    background-color: inherit !important;
    background-image: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid #414242;
    color: #414242 !important;
    line-height: 3rem;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 3rem .5rem;
    margin-bottom: 3rem;
    font-family: 'DIN_Pro_Condensed_Regular';
    font-size: 1.72vw;
}

.contact-menu textarea {
    background-color: inherit !important;
    background-image: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid #414242;
    color: #414242 !important;
    line-height: 1.5rem;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: .2rem .5rem;
    margin-bottom: 3rem;
    font-family: 'DIN_Pro_Condensed_Regular';
    font-size: 1.72vw;
}

.form-control:focus {
    border-color: #414242;
}

.chosen-container-multi .chosen-choices {
    border: 2px solid #414242;
    border-top: none !important;
    border-left: transparent;
    border-right: transparent;
    background-color: inherit !important;
    background-image: none !important;
    background-image: none;
    cursor: text;
    padding: 15px 5px;
}

.chosen-container .chosen-drop {
    font-family: 'DIN_Pro_Condensed_Regular';
    height: 530px;
    text-align: right;
    background: #f0f0f3 !important;
    opacity: 0.8 !important;
}

.chosen-container .chosen-results {
    color: #ed6927 !important;
    max-height: 533px !important;
}


    .chosen-container-multi .chosen-drop .result-selected {
        font-weight: bold !important;
        color: #ed6924 !important;
    }
    .chosen-container .chosen-results li.highlighted {
        background: #b2b5b5 !important;
        background-image: none !important;
        opacity: 0.7 !important;
    }


    .chosen-container .chosen-results li {
        color: #ed6924 !important;
        font-family: 'DIN_Pro_Condensed_Italic';
        text-transform: uppercase;
        padding: 30px 15px !important;
        font-size: 2.08vw !important;
        border: 1px solid #f9cdb6;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

.chosen-container-multi .chosen-choices li.search-choice {
    background-image: none !important;
    background-color: #Ffffff !important;
    padding: 10px 25px 10px 10px !important;
    border-radius: 0px;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    color: #414242 !important;
    font-size: 1.56vw;
    font-family: 'DIN_Pro_Condensed_Regular';
    text-transform: uppercase;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 18px;
    background: url(../img/chosen-sprite.png) -42px 1px no-repeat !important;
    transform: scale(1.5,1.5);
}

.chosen-container-multi .chosen-choices li.search-choice span {
    color: #414242 !important;
    font-size: 1.56vw;
    font-family: 'DIN_Pro_Condensed_Regular';
    text-transform: uppercase;
    font-size: 25px;
    line-height: 25px;
}

.chosen-container {
    width: 75% !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: uppercase;
    color: #424241;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #424241 !important;
    text-transform: uppercase;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #424241 !important;
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    color: #424241 !important;
    text-transform: uppercase;
}

::data-placeholder {
    color: #424241 !important;
    text-transform: uppercase;
}

/*.submit-btn {
    color: #2e2a2a;
    background-color: transparent;
    transition: background-color .28s ease;
    color: #414242 !important;
    background-color: transparent !important;
    border: 2px solid #414242;
    text-transform: uppercase;
    font-family: 'DIN_Pro_Condensed_Regular';
    font-size: 1.56vw;
    width: 15%;
    height: 75px;
}*/

.social-icons {
    width: 80%;
    max-width: 80%;
    margin: auto;
}

    .social-icons a img:hover {
        transition: .5s ease;
        transform: scale(1.15,1.15);
    }

#Relativity {
    margin: 30% 10%;
}

.social-icons a img {
    margin-left: 10vw;
}

.explore img {
    width: 12%;
    margin-top: 50px;
}

#Bureau {
    margin: 30% 10%;
}

.signup-section {
    background-color: #ffffff !important;
}

.social-icons
{
	width:80%;
	max-width:80%;
	margin:auto;	
	
}

.social-icons a img:hover{
	transition: .5s ease;
    transform: scale(1.15,1.15);
}
#Relativity
{
	margin: 30% 10%;
}
.social-icons a img
{
margin-left: 10vw;
}
.explore img
{
	width: 12%;
    margin-top: 50px;
}
#Bureau
{
	margin: 30% 10%;
}

#mainNav.navbar-shrink {
    background-color: #fff;
    opacity: 0.75;
}
.footercontent ul{
	padding-inline-start: 0px;
}

/* iphoneX Code Starts Here */
@media (max-width: 499px)
{
	.subheading h3 {
    font-size: 5.2vw;
	    margin-bottom: 1rem;
}
.heading h1 {
    font-size: 8.4vw;
	margin-bottom: 2rem;
}
.pcontent p {
    font-size: 3.5vw;
}
.contact-menu input {
    font-size: 5vw;
	padding: 2rem .5rem;
    margin-bottom: 1rem;
}
.contact-menu textarea {
   font-size: 5vw;
}
.submit-btn img{
	width:30%;
}
.social-icons a img {
     margin-left: 5vw; 
    width: 10%;
}
#Bureau {   
    width: 64%;
	margin-top: 41px;
}
#Relativity
{
	    margin-top: 16px;
	width: 64%;
}
.footercontent ul{
	margin-right:40px;
}
.footercontent ul li a {
    font-size: 5.56vw;
}
.footercontent ul li {    
    text-align: center;    
}
.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}
.contact-section {
    padding: 1rem 0 0;
}
#ukas
{
	    width: 50%;
    margin-top: -50px;

}
.explore img
{
	width: 25%;
    margin: 20px 0px;
}

.chosen-container .chosen-results li {    
    font-size: 5.08vw !important;
    
}
.contact-section .social {
     margin-top: 0rem; 
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {   
    font-size: 5.56vw;
}
.chosen-container .chosen-results li {
    padding: 15px 10px !important;
	
}
.chosen-container .chosen-drop {
    height: 325px;
	opacity:1 !important;
}
.chosen-container .chosen-results {
    max-height: 325px !important;
}
.chosen-container {
margin-bottom:2rem;
}
.chosen-container-multi .chosen-choices li.search-choice span {    
    font-size: 5.56vw;
}

}
/* iphoneX code Ends Here */

/* ipad code Starts Here */
@media (max-width: 800px) and (min-width: 657px)
{
	.subheading h3 {
    font-family: 'DIN Pro Bold';
    font-size: 3.82vw;
}
	.heading h1 {
    font-family: DIN_Pro_Condensed_Italic;
    font-size: 6.58vw;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.pcontent p {
    font-family: 'DINPro-Regular';
    font-size: 2.15vw;
} 
.masthead {
margin-top:79px;
}
#mainNav {    
    background-color: #e3e3e3;;
	opacity:0.75;
}
#mainNav .navbar-brand {
    width: 85%;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #ed6924;
    border: 0px;
}
#navbarResponsive ul li a
{
	color:#ed6924 !important;
	text-align:right;
	font-size: 5vw;
    padding: 1rem 0.5rem !important;
	font-family: 'DIN_Pro_Condensed_Italic' !important;

}
#navbarResponsive ul li a:hover{
	background:#414242 !important;
background-image:none !important;
opacity:0.7 !important;
}
.explore img {
    width: 15%;
    margin-top: 0px; 
}
.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}
.chosen-container .chosen-results li {    
    font-size: 3vw !important;
    
}
.contact-section .social {
     margin-top: 0rem; 
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {   
    font-size: 3vw;
}
.chosen-container-multi .chosen-choices li.search-choice span {    
    font-size: 3vw;    
}
.chosen-container .chosen-results li {
    padding: 15px 10px !important;
	
}
.chosen-container .chosen-drop {
    height: 325px;
	opacity:1 !important;
}
.chosen-container .chosen-results {
    max-height: 325px !important;
}
.chosen-container {
margin-bottom:2rem;
}
.contact-menu input {
    font-size: 3vw;
	padding: 2rem .5rem;
    margin-bottom: 1rem;
}
.contact-menu textarea {
   font-size: 3vw;
}
.submit-btn img{
	width: 20%;

}
.social-icons a img {
     margin-left: 10vw; 
    width: 10%;
}
#Bureau {   
   
	margin-top: 41px;
}
#Relativity
{
	    margin-top: 41px;
	
}
.footercontent ul{
	margin-right:40px;
	padding-inline-start: 0px;
}
.footercontent ul li a {
    font-size: 2.6vw;
}
.footercontent ul li {    
    text-align: center;    
}
.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}
.contact-section {
    padding: 1rem 0 0;
}
#ukas
{
	 
    margin-top: 0px;

}
.chosen-container {
    width: 100% !important;
}
.footercontent ul{
	margin-right:0px;
	padding-inline-start: 0px;
}
}
/* ipad code Ends Here */

/* ipadpro code starts here */
@media (max-width: 1279px) and (min-width: 992px){
	.subheading h3 {
    font-size: 3.5vw;
}
.heading h1 {
    font-size: 6vw;
}
.pcontent p {
    font-size: 2vw;
}
.explore img {
    width: 15%;
    margin-top: 25px;
}
.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}
.contact-menu input ,.contact-menu textarea{
    font-size: 2.72vw;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	 font-size: 2.72vw;
}
	.chosen-container {
    width: 85% !important;
}
.submit-btn img{
	    width: 20%;
    
}
.footercontent ul li a{
    font-size: 2.56vw;
    font-family: 'DIN_Pro_Condensed_Regular';
    color: #ed6924;
    list-style: none;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    letter-spacing: 2px;
}
}
/* ipadpro code ends here */

/* karthik anna Resolutions Strats Here */

@media (max-width: 1366px) and (min-width: 1280px)
{
	.submit-btn img{
    width:12%;
}
}
/* karthik anna Resolutions Strats Here */

/* Dev Sir Resolutions Starts Here */
@media (max-width: 1599px) and (min-width: 1367px)
{
	.submit-btn img{
    width:12%;
}
	
}

/* DEv Sit Resolutions Ends Here */
