.heading h1 {
    font-size: 4.4vw;
    margin-bottom: 2rem;
}

.chosen-container {
    width: 100% !important;
}

.headsubcontent h1 {
    font-family: 'DIN Pro Bold' !important;
    font-size: 2.86vw;
    color: #414242;
    padding-left: 32% !important;
}

.pcontent p {
    font-family: 'DINPro-Regular';
    font-size: 1.15vw;
    padding-left: 14%;
    max-width: 90%;
}

.pcontentfirst p {
    font-family: 'DINPro-Regular';
    font-size: 1.15vw;
    padding-left: 1%;
    color: rgb(255, 255, 255);
    max-width: 77%;
}

/*.text-center {
    text-align: left !important;
}*/

/* iphoneX Code Starts Here */
@media (max-width: 499px) {
    .headsubcontent h1 {
        font-family: 'DIN Pro Bold' !important;
        font-size: 4.86vw;
        color: #414242;
        padding-left: 13% !important;
    }

    .pcontent p {
        font-family: 'DINPro-Regular';
        font-size: 4.15vw;
        padding-left: 12%;
        max-width: 90%;
    }

    .pcontentfirst p {
        font-family: 'DINPro-Regular';
        font-size: 4.15vw;
        padding-left: 12%;
        color: rgb(66, 66, 65);
        max-width: 90%;
        padding-top: 8%;
    }

    .heading h1 {
        font-size: 8.4vw;
        margin-bottom: 2rem;
    }

 
.masthead {
margin-top:75px;
}
#mainNav {    
    background-color: #e3e3e3;
	opacity:0.75;
}
#mainNav .navbar-brand {
    width: 85%;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #ed6924;
    border: 0px;
}
#navbarResponsive ul li a
{
	color:#ed6924 !important;
	text-align:right;
	font-size: 5vw;
    padding: 1rem 0.5rem !important;
	font-family: 'DIN_Pro_Condensed_Italic' !important;

}
#navbarResponsive ul li a:hover{
	background:#414242 !important;
background-image:none !important;
opacity:0.7 !important;
}
}
/* iphoneX code Ends Here */

/* ipad code Starts Here */
@media (max-width: 800px) and (min-width: 657px) {
    .headsubcontent h1 {
        font-family: 'DIN Pro Bold' !important;
        font-size: 3.86vw;
        color: #414242;
        padding-left: 14% !important;
        padding-top: 3%;
    }

    .heading h1 {
        font-size: 7.4vw;
        margin-bottom: 2rem;
    }

    .pcontentfirst p {
        font-family: 'DINPro-Regular';
        font-size: 3.15vw;
        padding-left: 14%;
        color: rgb(66, 66, 65);
        max-width: 90%;
        padding-top: 4%;
    }

    .pcontent p {
        font-family: 'DINPro-Regular';
        font-size: 3.15vw !important;
        padding-left: 14%;
    }

    .dataconsulting {
        margin-top: -2px;
    }

    .database {
        margin-top: -1%;
    }

    .techintr {
        margin-top: -1%;
    }
}
/* ipad code Ends Here */

/* ipadpro code starts here */
@media (max-width: 1279px) and (min-width: 992px) {
    .pcontentfirst p {
        font-family: 'DINPro-Regular';
        font-size: 3.15vw;
        padding-left: 1%;
        color: rgb(66, 66, 65);
        max-width: 107%;
        padding-top: 3%;
    }

    .pcontent p {
        font-family: 'DINPro-Regular';
        font-size: 3.15vw !important;
        padding-left: 14%;
    }

    .database {
        margin-top: -1%;
    }

    .dataconsulting {
        margin-top: -1px;
    }

    .techintr {
        margin-top: -1%;
    }
}
/* ipadpro code ends here */

/* karthik anna Resolutions Strats Here */

@media (max-width: 1366px) and (min-width: 1280px) {
    .database {
        margin-top: -1%;
    }

    .dataconsulting {
        margin-top: 0%;
    }

    .techintr {
        margin-top: -1%;
    }
}


/* karthik anna Resolutions Strats Here */

/* Dev Sir Resolutions Starts Here */
@media (max-width: 1599px) and (min-width: 1367px) {
    .database {
        margin-top: -1%;
    }

    .dataconsulting {
        margin-top: -1px;
    }

    .techintr {
        margin-top: -1%;
    }
}
